<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ysu.mall.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="org.ysu.mall.domain.entity.Product">
            <id property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="mainImage" column="main_image" jdbcType="VARCHAR"/>
            <result property="subImages" column="sub_images" jdbcType="VARCHAR"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_id,product_name,category_id,
        price,stock,main_image,
        sub_images,detail,status,
        created_at,updated_at
    </sql>
</mapper>
