server:
  port: 8080  # 设置服务器的端口为 8080
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB


spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://39.107.238.93:3306/mall?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: mall
    password: 12345678
    type: com.alibaba.druid.pool.DruidDataSource
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

minio:
  endpoint: http://39.107.238.93:9000
  accessKey: admin
  secretKey: 12345678
  bucketName: images

springdoc:
  api-docs:
    enabled: true # 开启OpenApi接口
    path: /v3/api-docs  # 自定义路径，默认为 "/v3/api-docs"
  swagger-ui:
    enabled: true # 开启swagger界面，依赖OpenApi，需要OpenApi同时开启
    path: /swagger-ui/index.html # 自定义路径，默认为"/swagger-ui/index.html"


mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: org.ysu.mall.domain.entity
